.info-container {
  padding: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.info-container img {
  flex: 0.5;
  width: 40%;
}

.info-container__rules-and-regu {
  flex: 0.5;
  padding: 20px;
}
.list-group {
  max-height: 300px;
  overflow-y: scroll;
}

@media screen and (max-width: 667px) {
  .info-container img {
    flex: 1;
    width: 100%;
  }
  .info-container {
    flex-direction: column;
    justify-content: center;
  }
}
