.main-container {
  padding: 20px;
  width: 100%;
  background-color: rgb(168, 30, 30);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container__content {
  flex: 0.4;
  display: flex;
  padding: 30px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 99, 71, 0.678);
}
.main-container__badge {
  flex: 0.5;
  height: 100px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: large;
}
.main-container__badge__image-n-text {
  height: auto;
  margin: auto;
  text-align: center;
  position: relative;
}
.main-container__badge__image-n-text h1,
h5 {
  position: absolute;
  top: calc(50% - 10px);
  left: 15px;
  right: 0;
  /* bottom: 0; */
}
.main-container__badge__image-n-text h5 {
  top: 35%;
}

@media screen and (max-width: 667px) {
  .main-container {
    flex-direction: column;
    justify-content: center;
  }
  .main-container__badge img {
    width: 70vw;
  }
  .main-container__badge__image-n-text h5 {
    position: absolute;
    font-size: 15px;
    left: 15px;
    right: 0;
  }
  .container__content {
    flex: 1;
  }
}
@media screen and (min-width: 667px) {
  .main-container {
    height: 80%;
  }
}
@media screen and (max-width: 1200px) {
  .main-container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .main-container__badge {
    flex: 0.4;
  }
  .container__content {
    flex: 0.4;
  }
}
@media screen and (min-width: 1200px) {
  .main-container {
    padding: 20px 100px;
    height: 75%;
  }
}
